@model Domain.IM253E08Libro

<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label"><strong>Autor:</strong></label>
        <p>@Model.Autor</p>
    </div>
    <div class="col-md-4">
        <label class="form-label"><strong>Editorial:</strong></label>
        <p>@Model.Editorial</p>
    </div>
    <div class="col-md-4">
        <label class="form-label"><strong>ISBN:</strong></label>
        <p>@Model.ISBN</p>
    </div>
    @* Añade más campos aquí con clases Bootstrap *@
</div>
